div {
  font-weight: lighter;
}

p {
  text-align: center;
}

p {
  font-style: oblique;
}

.paleturquoise {
  background-color: paleturquoise;
}

.thistle {
  background-color: thistle;
}

.blueblue {
  background-color: darkturquoise;
}

#firstheader {
  color: indigo;
}

#limelist {
  color: #ccff15;
}

#teallist {
  color: #39CCCC;
}

a[href*="usatf"] {
  color: #4B0082;
}

a[href*="athletic"] {
  color: yellowgreen;
}

a[href*="olympics"] {
  color: orangered;
}

* {
  word-spacing: 2px;
}

ol > li {
  background-color: cadetblue;
}

div span {
  text-decoration: underline;
}

p ~ span {
  text-decoration: underline;
}

div:hover {
  color: #7FDBFF;
}

nav>a:hover {
  background-color: darkmagenta;
}

h4:hover {
  background-color: #FF851B;
}

footer>a:hover {
  color: #ADFF2F;
}

h3>a:hover {
  color: 	#FF69B4;
}

p>a:hover {
  color: 	#FF4500;
}

.paddedimage {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.paddedparagraph {
  padding-bottom: 20px;
}

img {
  border-style: double;
  border-color: plum;
  border-width: 10px;
  border-radius: 5px;
  width:200px;
  height:200px;
}
